@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header nav img {
    width: 22% !important;
  }

  .trouverResto h1 {
    width: 100% !important;
  }

  .fonctionnementResto .btnFonctionnementResto {
    position: relative;
  }
  .fonctionnementResto .btnFonctionnementResto span {
    right: 264px !important;
  }

  .Restaurant .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .Restaurant .link .cardResto {
    width: 343px !important;
    margin-right: 10px !important;
  }

  .container {
    padding: 28px !important;
  }
  .container ._entree, .container ._plat, .container ._dessert {
    width: 100%;
  }

  footer div {
    display: flex !important;
    align-items: center !important;
    line-height: 2.5 !important;
  }
}
@media only screen and (min-width: 1181px) {
  header nav img {
    width: 17% !important;
  }

  .trouverResto h1 {
    width: 100% !important;
  }

  .fonctionnementResto ol {
    display: flex !important;
    justify-content: space-evenly !important;
  }
  .fonctionnementResto ol a li {
    width: 100% !important;
    transition: ease 0.3s;
  }
  .fonctionnementResto ol a li:hover {
    background-color: #9356dc1f;
  }
  .fonctionnementResto .btnFonctionnementResto {
    position: relative;
  }
  .fonctionnementResto .btnFonctionnementResto span {
    right: 33px !important;
  }

  .Restaurant .flex {
    display: flex;
    justify-content: center;
  }
  .Restaurant .link .cardResto {
    width: 343px !important;
    margin-right: 10px !important;
  }

  .container {
    padding: 28px !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .container ._entree, .container ._plat, .container ._dessert {
    width: 100%;
  }

  footer div {
    display: flex !important;
    align-items: center !important;
    line-height: 2.5 !important;
  }
}
.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  opacity: 0.9;
  animation: loader 200ms 3s forwards;
  transform-origin: top;
  z-index: 9999;
}
.loader::after {
  content: "";
  height: 100px;
  width: 100px;
  border-top: 5px solid #9356DC;
  border-right: 5px solid transparent;
  border-radius: 50%;
  animation: spin 3s infinite ease-in-out;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 22px !important;
  font-weight: bold;
  color: black;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: black;
  font-weight: bold;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: black;
  font-weight: bold;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 12px black;
}
header nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  text-decoration: none;
  text-align: center;
  margin-right: 24px;
}
header nav a i {
  color: black;
  font-size: 25px;
}
header nav img {
  width: 49%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.localisation h3 {
  background-color: #e3e3e3;
  margin: 0;
  padding: 14px;
  font-size: 16px;
  text-align: center;
}
.localisation h3 i {
  padding-right: 12px;
}

.trouverResto {
  text-align: center;
  padding: 44px 20px;
  background-color: #f6f6f6;
}
.trouverResto h1 {
  width: 216px;
  text-align: center;
  margin: auto;
}
.trouverResto p {
  text-align: center;
  color: #7c7c7c;
  line-height: 25px;
}
.trouverResto button {
  background: #9356dc;
  background: linear-gradient(353deg, #9356dc 22%, #ff79da 74%);
  padding: 15px;
  color: white;
  border: transparent;
  font-weight: 500;
  letter-spacing: 0.3px;
  border-radius: 22px;
  border: transparent;
  font-size: 16px;
  box-shadow: 3px 10px 32px -2px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 3px 10px 32px -2px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 3px 10px 32px -2px rgba(0, 0, 0, 0.39);
  cursor: pointer;
}

.fonctionnementResto {
  padding: 20px;
}
.fonctionnementResto ol {
  list-style: none;
  padding: 0;
}
.fonctionnementResto ol li {
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  margin: 20px;
  background-color: #f6f6f6;
}
.fonctionnementResto ol li a {
  color: black;
}
.fonctionnementResto .btnFonctionnementResto {
  position: relative;
}
.fonctionnementResto .btnFonctionnementResto span {
  position: relative;
  right: 72px;
  border-radius: 73%;
  background-color: #9356DC;
  width: 51px;
  height: 38px;
  color: white;
  text-align: center;
  padding: 4px 8px 4px 8px;
}
.fonctionnementResto .btnFonctionnementResto i {
  color: #7c7c7c;
}
.fonctionnementResto .btnFonctionnementResto i:hover {
  color: #9356DC;
}

.Restaurant {
  padding: 20px;
  background-color: #f6f6f6;
  margin: auto;
}
.Restaurant .link {
  border-radius: 20px;
}
.Restaurant .link .cardResto {
  width: 350px;
  margin: auto;
  box-shadow: 3px 11px 24px 6px rgba(176, 172, 172, 0.2);
  margin-bottom: 24px;
  border-radius: 20px;
  position: relative;
}
.Restaurant .link .cardResto .new {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #40916c;
  font-weight: bold;
  padding: 9px;
  background-color: #95d5b2;
  border-radius: 4px;
  letter-spacing: 0.5px;
}
.Restaurant .link .cardResto img {
  width: 100%;
  height: 198px;
  object-fit: cover;
  border-radius: 20px 20px 0 0px;
}
.Restaurant .link .cardResto .flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.Restaurant .link .cardResto .flex .icone {
  display: flex;
  align-items: center;
  padding: 27px;
}
.Restaurant .link .cardResto .flex .icone i {
  right: 1rem;
  position: absolute;
  color: black;
}
.Restaurant .link .cardResto .flex .icone .fas {
  transition: ease-in 0.4s;
  opacity: 0;
  background: linear-gradient(352deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Restaurant .link .cardResto .flex .icone:hover .fas {
  opacity: 1;
}
.Restaurant .link .cardResto .flex .cardBody {
  padding: 10px;
}
.Restaurant .link .cardResto .flex .cardBody h3 {
  margin: 0;
}
.Restaurant .link .cardResto .flex .cardBody p {
  color: #7c7c7c;
  margin: 5px 0;
}

.imgHero {
  width: 100%;
}
.imgHero img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 382px;
}

.titreMenu {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  background-color: #f6f6f6;
  margin-top: -90px;
  border-radius: 63px 67px 0 0px;
  padding-top: 23px;
}
.titreMenu .icone {
  display: flex;
  align-items: center;
  padding: 27px;
}
.titreMenu .icone i {
  font-size: 30px;
  right: 1rem;
  position: absolute;
  color: black;
}
.titreMenu .icone .fas {
  transition: ease-in 0.4s;
  opacity: 0;
  background: linear-gradient(352deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titreMenu .icone:hover .fas {
  opacity: 1;
}
.titreMenu .h1Menu {
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
  font-size: 30px !important;
}

main {
  margin-top: -11px;
}
main .container {
  background-color: #f6f6f6;
  padding: 15px;
}
main .container .entrees, main .container .plats, main .container .desserts {
  padding-top: 15px;
}
main .container .entrees h2, main .container .plats h2, main .container .desserts h2 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #7c7c7c;
  font-size: 17px;
  margin-bottom: 0;
}
main .container .entrees .trait, main .container .plats .trait, main .container .desserts .trait {
  border-top: 3px solid #99E2D0;
  width: 40px;
  margin-bottom: 15px;
}
main .container .entrees .template, main .container .plats .template, main .container .desserts .template {
  animation: fadein 2s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 346px;
  text-align: start;
  background: white;
  border-radius: 10px;
  margin: auto;
  padding-left: 10px;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 3px 11px 24px 6px rgba(176, 172, 172, 0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
}
main .container .entrees .template:hover .check, main .container .plats .template:hover .check, main .container .desserts .template:hover .check {
  margin-right: 0;
}
main .container .entrees .template:hover i, main .container .plats .template:hover i, main .container .desserts .template:hover i {
  animation: rotate 1s ease;
}
main .container .entrees .template:hover .items, main .container .plats .template:hover .items, main .container .desserts .template:hover .items {
  width: 60%;
}
main .container .entrees .template .items, main .container .plats .template .items, main .container .desserts .template .items {
  width: 100%;
}
main .container .entrees .template .items h3, main .container .plats .template .items h3, main .container .desserts .template .items h3 {
  margin: 0;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .container .entrees .template .items p, main .container .plats .template .items p, main .container .desserts .template .items p {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 300;
  color: #7c7c7c;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
main .container .entrees .template .items-c, main .container .plats .template .items-c, main .container .desserts .template .items-c {
  display: flex;
  align-items: center;
}
main .container .entrees .template .items-c p, main .container .plats .template .items-c p, main .container .desserts .template .items-c p {
  color: black;
  font-weight: 400;
}
main .container .entrees .template .items-c:hover .check, main .container .plats .template .items-c:hover .check, main .container .desserts .template .items-c:hover .check {
  margin-right: 0;
}
main .container .entrees .template .items-c:hover i, main .container .plats .template .items-c:hover i, main .container .desserts .template .items-c:hover i {
  animation: rotate 1s ease;
}
main .container .entrees .template .check, main .container .plats .template .check, main .container .desserts .template .check {
  padding: 10px;
  background-color: #99E2D0;
  width: 39px;
  height: 49px;
  border-radius: 0px 10px 10px 0px;
  display: inline-grid;
  text-align: center;
  align-items: center;
  margin-left: 10px;
  margin-right: -4rem;
  transition: margin-right 0.5s;
}
main .container .entrees .template .check i, main .container .plats .template .check i, main .container .desserts .template .check i {
  font-size: 25px;
  color: white;
}

.centerBtn {
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 25px;
}
.centerBtn .btnMenu {
  background: #9356dc;
  background: linear-gradient(353deg, #9356dc 22%, #ff79da 74%);
  padding: 15px;
  color: white;
  border: transparent;
  font-weight: 500;
  letter-spacing: 0.3px;
  border-radius: 22px;
  border: transparent;
  font-size: 16px;
  box-shadow: 3px 10px 32px -2px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 3px 10px 32px -2px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 3px 10px 32px -2px rgba(0, 0, 0, 0.39);
  cursor: pointer;
}

footer {
  background-color: #353535;
  width: 100%;
  padding-bottom: 10px;
}
footer div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px;
  line-height: 1.5;
}
footer div img {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}
footer div img .colorSvg {
  fill: white;
  background-color: white;
}
footer div a {
  text-decoration: none;
  color: white;
}
footer div a .footer {
  color: white;
}

/*# sourceMappingURL=main.css.map */
