header{
        
    width: 100%;
    
    nav{
        text-align: center;
        

        img{
            margin: auto;
            width: 49%;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        
        
    }
}