header{
     position: relative;   
        width: 100%;
        box-shadow: 0px 0px 12px rgb(0 0 0 / 39%);
    
    nav{
        text-align: center;
        

        img{
            margin: auto;
            width: 49%;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        
        
    }
}