header{
     position: relative;   
        width: 100%;
        box-shadow: 0px 0px 12px rgba(0,0, 0.39);
    
    nav{
    
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
        a{
            text-decoration: none;
            text-align: center;
            margin-right: 24px;

            i{
                color:black;
                font-size: 25px;
            }
        }

        img{
            width: 49%;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        
        
    }
}