@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,500&display=swap');

:root{
    --policeTitre : 'Shrikhand', cursive;
    --policeTexte : 'Roboto', sans-serif;

    --couleurViolet: #9356DC;
    --couleurRose: #FF79DA;
    --couleurVerte: #99E2D0;
    --couleurGris: #edecec;
    --couleurIconeGris: rgb(124, 124, 124);

}

body{
    font-family: var(--policeTexte);
}

h1{
    font-family: var(--policeTexte);
    font-size: 22px !important;
    font-weight: bold;
    color: black;
}

h2{
    font-family: var(--policeTexte);
    font-size: 21px;
    color: black;
    font-weight: bold;
}

a{
    text-decoration: none;
}


// style du header
// mobile first

@media screen and (max-width: 740px) { 
    
    header{
        
        width: 100%;
        
        nav{
            text-align: center;
            

            img{
                margin: auto;
                width: 49%;
                margin-top: 15px;
                margin-bottom: 15px;
            }
            h3{
                background-color: var(--couleurGris);
                margin:0;
                padding: 14px;
                font-size: 16px;

                i{
                    padding-right:12px;
                }
            }
            
        }
    }

    .trouverResto{
        text-align: center;
        padding: 44px 20px;
        background-color: #eff5f5;

        h1{
            width: 216px;
            text-align: center;
            margin: auto;
        }
        p{
            text-align: center;
            color: var(--couleurIconeGris);
            line-height: 25px;
        }

        button{
            
            background: rgb(147,86,220);
            background: linear-gradient(353deg, rgba(147,86,220,1) 22%, rgba(255,121,218,1) 74%);
            padding: 15px;
            color: white;
            border: transparent;
            font-weight: 500;
            letter-spacing: 0.3px;
            border-radius: 22px;
            border: transparent;
            font-size: 16px;
            box-shadow: 3px 10px 32px -2px rgba(0,0,0,0.39);
            -webkit-box-shadow: 3px 10px 32px -2px rgba(0,0,0,0.39);
            -moz-box-shadow: 3px 10px 32px -2px rgba(0,0,0,0.39);
        }
    }

    // style de la partie Fonctionnement

    .fonctionnementResto{
        padding: 20px;
        
        ol{
            list-style: none;
            li{
                padding: 20px;
                border: 1px solid transparent;
                border-radius: 20px;
                align-items: center;
                text-align: center;
                display: flex;
                justify-content: space-evenly;
                box-shadow: 0 20px 40px -14px rgb(0 0 0 / 25%);
                margin-bottom: 27px;
                color: black;
                background-color: #eff5f5;

            }
        }

    }

    .Restaurant{
        padding: 20px;

        .link{
            border-radius: 20px;
    
            .cardResto{
                width: 350px;
                margin: auto;
                box-shadow: 3px 11px 24px 6px rgba(176,172,172,0.2);
                margin-bottom:24px;
                border-radius: 20px;

                .new{
                    position: absolute;
                    right: 44px;
                    bottom: 39px;
                    color: green;
                    font-weight: bold;
                }
    
                img{
                    width: 100%;
                    height: 198px;
                    object-fit: cover;
                    border-radius: 20px 20px 0 0px;
                }
    
                .flex{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
    
                    .icone{
                        display: flex;
                        align-items: center;
                        padding: 27px;
    
                        i{
                            color: black;
                            font-size: 22px;
    
                            &:hover{
                                color: var(--couleurViolet);
                            }
                        }
                    }
    
                    .cardBody{
                        padding: 10px;

                        

                        h2{
                            margin:0;
                        }

                        p{
                            color: var(--couleurIconeGris);
                            margin: 5px 0;
                        }
                    }
        
                }
            }
        }
        
    }
    

    .btnFonctionnementResto{
        position: relative;

    
        span{
                position: absolute;
                left: 26px;
                border-radius: 68%;
                background-color: var(--couleurViolet);
                width: 29px;
                height: 24px;
                color: white;
                text-align: center;
                padding: 7px 0 0;
        }

        i{
            color: rgb(124, 124, 124);

            &:hover{
                color: var(--couleurViolet);
            }
        }

    }

    
    
    
}