.fonctionnementResto{
    padding: 20px;
    
    ol{
        list-style: none;
        padding: 0;
        li{
        
            
            border: 1px solid transparent;
            border-radius: 20px;
            align-items: center;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
            margin: 20px;
            background-color: $couleurGris;
            transition: 0.2s;

            a{
                color: black;
                padding: 20px;
            }
           
            &:hover{
                background-color: #9256dc2a;
            }
        }


    }

    .btnFonctionnementResto{
        position: relative;

    
        span{
            position: relative;
            right: 72px;
            border-radius: 73%;
            background-color: #9356DC;
            width: 51px;
            height: 38px;
            color: white;
            text-align: center;
            padding: 4px 8px 4px 8px;
        }

        i{
            color: rgb(124, 124, 124);

            &:hover{
                color: $couleurViolet;
            }
        }

    }

}