
.loader{
    $animation-duration: 3s;
    position: fixed;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    height: 100vh;
    inset: 0;
    opacity: 0.9;
    animation: loader 200ms $animation-duration forwards;
    transform-origin: top;
    z-index: 9999;

    &::after{
        content: "";
        height: 100px;
        width: 100px;
        border-top: 5px solid $couleurViolet;
        border-right: 5px solid transparent;
        border-radius: 50%;
        animation: spin $animation-duration infinite ease-in-out;
    }
}


