
//responsive tablette

@media only screen and (min-width : 768px) and (max-width : 1024px){

    header {

        nav{
            img{
                width: 22% !important;
            }
        }
    }

   

    .trouverResto {
        h1{
            width: 100% !important;
        }
    }
        

        .fonctionnementResto {
            
                
                .btnFonctionnementResto{
                    position: relative;
            
                
                    span{
                        
                        right: 264px !important;
                        
                    }
                }
            
            
        }
         
         
        
    
        .Restaurant{
            .flex{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
            .link{

                .cardResto {
                    width: 343px !important;
                    margin-right: 10px !important;
                }
            }
        } 
        .container{
            padding: 28px !important;
        

            ._entree, ._plat, ._dessert{
                width: 100%;
            }
        }
        
        



}

//responsive desktop

@media only screen and (min-width: 1181px) {
    header {

        nav{
            img{
                width: 17% !important;
            }
        }
    }

    .trouverResto {
        h1{
            width: 100% !important;
        }
    }
        

        .fonctionnementResto {
            ol{
                display: flex !important;
                justify-content: space-evenly !important;
                a{
                    
                    li{
                        width: 100% !important;
                        transition: ease 0.3s;

                        &:hover{
                            background-color: #9356dc1f;
                            
                        } 

                        
                    }
                }
            }
         
            
            .btnFonctionnementResto{
                position: relative;
        
            
                span{
                    
                    right: 33px !important;
                    
                }
            }
        }
         
         
        
    
        .Restaurant{
            .flex{
                display: flex;
                justify-content: center;
                
            }
            .link{

                .cardResto {
                    width: 343px !important;
                    margin-right: 10px !important;
                }
            }
        } 
        .container{
            padding: 28px !important;
            display: flex;
            justify-content:  space-evenly;
            align-items: center;

            ._entree, ._plat, ._dessert{
                width: 100%;
            }
        }
        
        
        footer{
            div{
                display: flex !important;
                align-items: flex-start !important;
                line-height: 2.5 !important;
            }
        }



}