
$policeTitre : 'Shrikhand', cursive;
$policeTexte : 'Roboto', sans-serif;

$couleurViolet: #9356DC;
$couleurRose: #FF79DA;
$couleurVerte: #99E2D0;
$couleurGris: #edecec;
$couleurIconeGris: rgb(124, 124, 124);